{% extends 'directory/base.html' %}
{% load static %}

{% block title %}Directory | The Pretoria Local{% endblock %}

{% block content %}
<div class="business-detail-container">
    <div class="business-detail-card business-detail-card-logo">
        <h1>{{ business.name }}</h1>
        <img src="{{ business.logo_url }}" alt="{{ business.name }} logo" class="business-logo">
    </div>

    <div class="business-detail-card business-detail-card-info">
        <h3>Contact Information</h3>
        <p>Phone: {{ business.contact_number }}</p>
        <p>Email: <a href="mailto:{{ business.email }}">{{ business.email }}</a></p>
        <p>Website: <a href="{{ business.website }}" target="_blank">{{ business.website }}</a></p>

        <h3>Address</h3>
        <p>{{ business.address }}</p>

        <h3>Social Media</h3>
        {% if business.social_links %}
            <ul>
            {% for platform, link in business.social_links.items %}
                <li><a href="{{ link }}" target="_blank">{{ platform }}</a></li>
            {% endfor %}
            </ul>
        {% else %}
            <p>No social media links provided.</p>
        {% endif %}
    </div>
</div>
<div class="business-detail-button-container">
    <a href="{% url 'directory' %}" class="business-detail-button">Back to Directory</a>
</div>


{% endblock %}
