{% extends 'directory/base.html' %}

{% block title %}Home | The Pretoria Local{% endblock %}

{% block content %}
<div class="hero-section">
    <h1 class="hero-title">
        SUPPORTING, GROWING & EMPOWERING<br /> LOCAL BUSINESSES IN PRETORIA
    </h1>
    <a href="#" class="learn-more-button">Learn More</a>
</div>


<div class="info-card card">
    <p>
        THE PRETORIA LOCAL IS A DYNAMIC BUSINESS DEDICATED TO UPLIFTING AND EMPOWERING THE LOCAL ECONOMY OF
        PRETORIA. WE ARE COMMITTED TO SUPPORTING AND GROWING LOCAL BUSINESSES BY FOSTERING A COMMUNITY-DRIVEN MARKETPLACE
        WHERE SHOPPERS ARE ENCOURAGED TO SPEND THEIR MONEY LOCALLY. OUR MISSION IS TO STIMULATE ECONOMIC GROWTH AND CREATE
        A THRIVING BUSINESS ENVIRONMENT BY CONNECTING RESIDENTS WITH THE UNIQUE PRODUCTS AND SERVICES OFFERED BY LOCAL
        ENTREPRENEURS. THROUGH STRATEGIC PARTNERSHIPS, MARKETING INITIATIVES, AND COMMUNITY EVENTS, THE PRETORIA LOCAL IS
        YOUR TRUSTED PARTNER IN BUILDING A PROSPEROUS AND SUSTAINABLE FUTURE FOR OUR LOCAL BUSINESS COMMUNITY.
    </p>
    <p>JOIN US IN MAKING PRETORIA A HUB OF LOCAL EXCELLENCE!</p>
</div>

<div class="first-card card">
    <h2>About</h2>
    <p>
        THE PRETORIA LOCAL IS A COMMUNITY-FOCUSED &nbsp;&nbsp; BUSINESS &nbsp;&nbsp; THAT &nbsp; &nbsp; AIMS &nbsp;&nbsp;TO STIMULATE&nbsp;&nbsp; THE&nbsp;&nbsp; LOCAL&nbsp;&nbsp; ECONOMY&nbsp;&nbsp; BY CONNECTING BUSINESSES WITH LOCAL CONSUMERS.&nbsp;&nbsp; THROUGH&nbsp;&nbsp; A &nbsp;&nbsp;USER-FRIENDLY&nbsp;&nbsp; WEBSITE,&nbsp;&nbsp; WE&nbsp;&nbsp; OFFER&nbsp;&nbsp; AN &nbsp;&nbsp;EXCLUSIVE&nbsp;&nbsp; BUSINESS &nbsp;&nbsp;DIRECTORY WHERE LOCAL ENTREPRENEURS CAN &nbsp;&nbsp;LIST&nbsp;&nbsp; THEIR &nbsp;&nbsp;SERVICES AND PRODUCTS. WE ALSO PROVIDE SOCIAL&nbsp;&nbsp; MEDIA&nbsp;&nbsp; PROMOTION&nbsp;&nbsp; SERVICES TO INCREASE VISIBILITY FOR THESE BUSINESSES, CREATING&nbsp;&nbsp; A &nbsp;&nbsp;STRONG&nbsp;&nbsp; ONLINE PRESENCE AND FOSTERING COMMUNITY ENGAGEMENT.
    </p>
</div>


<div class="card-container">
    <div class="side-card card">
        <h2>OUR VISION</h2>
        <p>TO BECOME THE LEADING PLATFORM
            THAT &nbsp;&nbsp;FOSTERS&nbsp;&nbsp; A &nbsp;&nbsp;THRIVING&nbsp;&nbsp; AND
            INTERCONNECTED LOCAL ECONOMY IN
            PRETORIA,&nbsp;&nbsp; WHERE&nbsp;&nbsp; EVERY&nbsp;&nbsp; BUSINESS,
            FROM SMALL STARTUPS TO
            ESTABLISHED &nbsp;&nbsp;ENTERPRISES,&nbsp;&nbsp; CAN GROW,
            SUCCEED,&nbsp;&nbsp; AND&nbsp;&nbsp; CONTRIBUTE &nbsp;&nbsp;TO&nbsp;&nbsp; A
            VIBRANT COMMUNITY.
        </p>
    </div>
    <div class="side-card card">
        <h2>OUR MISSION</h2>
        <p>OUR MISSION IS TO SUPPORT AND
            EMPOWER&nbsp;&nbsp; LOCAL&nbsp;&nbsp; BUSINESSES&nbsp;&nbsp; IN
            PRETORIA BY PROVIDING A DYNAMIC
            ONLINE&nbsp;&nbsp; DIRECTORY&nbsp;&nbsp; AND&nbsp;&nbsp; LEVERAGING
            SOCIAL MEDIA TO PROMOTE THEIR
            PRODUCTS&nbsp;&nbsp; AND&nbsp;&nbsp; SERVICES.&nbsp;&nbsp; WE&nbsp;&nbsp; AIM&nbsp;&nbsp; TO
            CONNECT BUSINESSES WITH THE LOCAL
            COMMUNITY,&nbsp;&nbsp; DRIVING&nbsp;&nbsp; ECONOMIC
            GROWTH AND FOSTERING A STRONG
            SENSE &nbsp;&nbsp;OF&nbsp;&nbsp; COMMUNITY &nbsp;&nbsp;PRIDE &nbsp;&nbsp;IN
            SHOPPING AND SUPPORTING LOCAL.
            THROUGH&nbsp;&nbsp; OUR&nbsp;&nbsp; EFFORTS,&nbsp;&nbsp; WE&nbsp;&nbsp; STRIVE&nbsp;&nbsp; TO
            CREATE A SUSTAINABLE AND
            PROSPEROUS&nbsp;&nbsp; ENVIRONMENT&nbsp;&nbsp; WHERE
            EVERY LOCAL BUSINESS HAS THE
            OPPORTUNITY&nbsp;&nbsp; TO&nbsp;&nbsp; FLOURISH.
        </p>
    </div>
</div>

{% endblock %}
