/* Apply box-sizing to all elements */
* {
    box-sizing: border-box;
}

/* General body styles */
html, body {
    height: 100%; /* Ensure the height of the html and body takes up the full viewport */
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #F1EFE7;
    overflow-x: hidden; /* Prevent horizontal scrolling */
    display: flex;
    flex-direction: column;
    padding-top: 60px; /* Add padding at the top to account for the fixed header */
    overflow-x: hidden;
}



/* Ensure the main content grows to fill the available space between header and footer */
main {
    overflow-x: hidden;
    flex: 1; /* Allows the main content to expand and fill the space between the header and footer */
}



/* Header styles */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px; /* Set a fixed height for the header */
    background-color: #fff;
    z-index: 1000; /* Ensure the header stays on top of content */
    border-bottom: 1px solid #ddd; /* Optional: Add a border to separate header from the content */
}

/* Navbar styles */
.navbar {
    background-color: #F1EFE7;
    padding: 1rem;
    display: flex;
    align-items: center;
}

.logo {
    margin-right: 40px; /* Increase space between the logo and the links */
}

.logo-image {
    height: 7.6rem;
    width: auto;
}

.navbar ul {
    list-style: none;
    padding: 0;
    display: flex;
    margin: 0;
}

.navbar ul li {
    margin-right: 50px; /* Increase space between individual links */
}

.navbar a {
    text-decoration: none;
    color: #000000;
    font-weight: 400;
    font-size: 1.8rem; /* Slightly increase font size of links */
    transition: color 0.3s ease;
}

.navbar a:hover,
.navbar a:focus {
    color: #000000;
    font-weight: 700;
}

.navbar a.active {
    font-weight: 700;
    color: #000000;
    text-decoration: underline;
}




























/* Footer styles */
footer {
    width: 100%;
    height: 40px; /* Set a fixed height for the footer */
    background-color: #F1EFE7;
    text-align: center;
    padding: 0px 0;
    /* border-top: 1px solid #ddd; Optional: Add border to separate footer from content */
}
